body
{
    margin: 0;
    padding: 0;
    background-image: url("https://live.staticflickr.com/65535/48655922786_86a66d2e19_o.jpg");
}

.header
{
    display: block;
}

div
{
    display: inherit;
}

.container
{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 60em;
    display: inline;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo
{
    display: flex;
    padding: 20px;
    justify-content: center;
}

h1
{
    font-size: 60px;
    margin: 0;
    padding: 20px;
    display: flex;
}