body
{
    margin: 0;
    padding: 0;
    background-image: url("https://live.staticflickr.com/65535/48655922786_86a66d2e19_o.jpg");
}
.Resumen
{
    display: inherit;
}

.im-mapa
{
    float: right;
}

.im-templo
{
    padding-top: 15px;
    padding-left: 20px;
    float: right;
    margin: 0;
}

article
{
    padding-left: 40px;
}

h2
{
    color: rgb(0, 128, 0);
}

h3,p
{
    margin: 0;
}

.Templo,.Arte , .Economia, .Final, .Resumen, .Descubrimiento,.historia
{
    padding-right: 35px;
    text-align: justify;
}

.top
{
    padding: 15px 0 0 0;
}

.header
{
    display: block;
}

.logo
{
    margin: 0;
    display: inherit;
    justify-items:center; 
}

div
{
    display: inherit;
}

.container
{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 60em;
    display: inherit;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.container h1
{
    display: flex;
    padding: 33px 0 0 0;
}
.titulo
{
    display: flex;
    padding: 20px;
    justify-content: center;
    height: 7em;
}

h1
{
    font-size: 60px;
    margin: 0;
    display: flex;
}

.menu
{
    height: inherit;
}

.link
{
    color: white;
    text-decoration: none;
}

ol
{
    margin: 0;
    border: 20px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li
{
    padding: 0 50px 20px 50px;
    font-size: 1.3em;
}

footer
{
    display: block;
}

.correo
{
    padding: 0 400px 10px 400px;
}

.correo figure
{
    padding: 0 0 0 11px;
}
hr
{
  margin: 0;
}
.hr 
{
    padding: 20px 0 10px 0;
}